:root {
  --color-bistre: hsl(24 33% 18%);
  --color-coffeebean: hsl(35 18% 32%);
  --color-github-purple: hsl(264 28% 45%);
  --color-telegram-blue: hsl(200 100% 40%);
  --color-cadetblue-hs: 182 25%;
  --color-cadetblue-l: 50%;
  --color-chocolate-hs: 25 75%;
  --color-chocolate-l: 47%;
  --button-hs: var(--color-chocolate-hs);
  --button-l: var(--color-chocolate-l);
}

@font-face {
  font-family: "GG Wolfram";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/subsets/logo/GGWolfram-Regular.woff2") format("woff2"),
    url("../fonts/subsets/logo/GGWolfram-Regular.woff2") format("woff");
  unicode-range: U+412, U+415, U+41A, U+41E, U+425;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/subsets/phone/PTSansCaption-Bold.woff2") format("woff2"),
    url("../fonts/subsets/phone/PTSansCaption-Bold.woff2") format("woff");
  unicode-range: U+20, U+23, U+28-2B, U+2D, U+30-39;
}

html {
  font-size: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--color-bistre);
  background-color: snow;
  scroll-behavior: smooth;
}

:where(html, body) {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

[class$="__title"] {
  font-size: 1.25em;
}

[class$="__image"] {
  display: block;
  max-width: 100%;
  height: auto;
}

.pancake-stack {
  display: grid;
  grid-template-rows: 3.5rem 1fr 6rem;
  min-height: 100%;
}

.pancake-stack__item {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 800px);
  padding: 0 1rem;
}

.header,
.footer {
  align-items: center;
  color: white;
  background-color: var(--color-coffeebean);
}

.header__layout {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  font-size: 1.75em;
  font-family: "GG Wolfram", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.navigation {
  display: grid;
  align-items: baseline;
  grid-auto-flow: column;
  gap: 1rem;
}

.navigation__link:not(.button):hover {
  text-decoration: underline;
}

.main {
  margin: 1rem 0;
}

.main__layout {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "promo"
    "blog"
    "review";
  grid-template-rows: repeat(2, max-content);
}

@media (min-width: 640px) {
  .main__layout {
    grid-template-areas:
      "promo review"
      "blog blog";
    grid-template-columns: max-content 1fr;
  }
}

.promo {
  position: relative;
  justify-self: center;
  grid-area: promo;
  max-width: 390px;
  max-height: 290px;
}

.banner {
  margin: 0;
}

.textover {
  position: absolute;
  padding: 0 0.15rem 0.1rem;
  color: white;
  background-color: black;
}

.textover--bottom-left {
  bottom: 50%;
  left: 15%;
}

.textover--right-bottom {
  right: 10%;
  bottom: 45%;
}

.textover--top-left {
  top: 20%;
  left: 5%;
}

.textover--top-right {
  top: 20%;
  right: 25%;
}

.promo__button {
  --button-l: calc(var(--color-chocolate-l) + 4%);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.blog {
  display: grid;
  grid-area: blog;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  padding: 0.75rem 1rem;
  background-color: gainsboro;
}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 100%;
}

.card > * {
  margin-top: 0;
}

.card__title {
  margin-bottom: 0.5rem;
}

.card__image {
  margin-bottom: 1rem;
}

.card__watch-link {
  --button-hs: var(--color-cadetblue-hs);
  --button-l: var(--color-cadetblue-l);
}

.card__ref-link {
  text-decoration: underline;
}

.review {
  display: grid;
  grid-area: review;
  grid-template-rows: min-content 1fr;
  padding: 0.75rem 1rem 0;
  outline: 1px solid gainsboro;
  outline-offset: -1px;
}

.review > * {
  margin: 0;
}

.review__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  overflow: hidden;
  list-style-type: none;
}

.review__item:where(:not(:last-child)) {
  border-bottom: 1px solid gainsboro;
}

.review__blockquote > :where(p) {
  margin: 0 0 0.5rem;
}

.review__blockquote > :where(cite) {
  display: block;
  text-align: right;
}

.social {
  display: grid;
  align-self: center;
  grid-auto-flow: column;
  gap: 0.5em;
}

.social__link:has(.icon) {
  background-color: transparent;
  border-color: transparent;
}

.contact:is(.hidden) {
  display: none;
}

.contact {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.contact::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsl(0 0% 0% / 30%);
}

.contact__overlay {
  position: relative;
  z-index: 2;
  max-width: 400px;
  margin: 6.25rem auto 0;
  padding: 3rem 3rem 2rem;
  background-color: snow;
  box-shadow:
    -1px 5px 12px 0
    hsl(0 0% 41% / 30%);
}

.contact__description {
  margin: 0;
}

.contact__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.contact__phone {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "PT Sans Caption", "Arial", sans-serif;
  color: chocolate;
}

.contact__phone:hover {
  text-decoration: underline;
}

.footer__layout {
  display: grid;
  gap: 1em;
  /* align-items: center; */
  grid-template-columns: min-content minmax(auto, 400px);
}

.footer__copy {
  margin: 0;
}

.footer__est {
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
  cursor: pointer;
}


.ellipsis {
  overflow: hidden;
}

.ellipsis--oneline {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis--multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.button {
  --color-button:
    hsl(var(--button-hs)
    var(--button-l));
  display: inline-block;
  max-width: fit-content;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  text-align: center;
  color: white;
  white-space: nowrap;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.button:active {
  background-color:
    hsl(var(--button-hs)
    calc(var(--button-l) - 10%));
  border-color:
    hsl(var(--button-hs)
    calc(var(--button-l) - 13%));
}

.button:focus {
  box-shadow:
    0 0 0 0.2rem
    hsl(var(--button-hs)
    var(--button-l) / 50%);
}

.button:hover {
  background-color:
    hsl(var(--button-hs)
    calc(var(--button-l) - 8%));
  border-color:
    hsl(var(--button-hs)
    calc(var(--button-l) - 10%));
}

.button:is(.button--round) {
  padding: 0.25rem;
  line-height: 0;
  border-radius: 50%;
}

.button:where(.social__link) {
  --button-hs: 0 0%;
  --button-l: 100%;
}

.button:has(.icon--github) {
  color: var(--color-github-purple);
}

.button:has(.icon--telegram) {
  color: var(--color-telegram-blue);
}

@supports not selector(:has(a, b)) {
  .social__link {
    background-color: transparent;
    border-color: transparent;
    filter: saturate(0.7);
  }

  .social__link:first-child {
    color: var(--color-github-purple);
  }

  .social__link:last-child {
    color: var(--color-telegram-blue);
  }
}

:where(.social__link) .icon {
  filter: invert(1);
}

:where(.social__link) .icon:hover {
  filter: none;
  transition: filter 0.75s ease-in-out;
}

.greyout-switch {
  display: none;
}

.greyout-switch:checked ~ .pancake-stack {
  filter: grayscale(1) brightness(0.9) contrast(1.1);
  background-color: silver;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
